body {
    font-family: "Comic Sans MS",Palatino,ariel;
    background: url(images/princesspi.png) #FFDDDD bottom right no-repeat;
}

pre, .bar h3 {
    font-family: "Comic Sans MS",Palatino,ariel;
}

h1.title {
    color: purple;
	font-size: 3em;
}

img { border: 0; }

.hidden { display: none; }

input[type=text],textarea { 
    border: 2px solid purple;
    background-color: #FFEEEE;
}

input[type=text]:focus,textarea:focus {
    border: 2px solid pink;
}

select {
    border: 2px solid purple;
    background-color: #FFEEEE;
}

select:focus {
    border: 2px solid pink;
}

input[type=button],input[type=file],input[type=submit] {
    border: 2px solid purple;
    background: #FFEEEE;
}

input[type=button]:hover,input[type=file]:hover,input[type=submit]:hover {
    background: #FFAAAA;
}

/*structures*/
#content {
	width: 80%;
	margin: auto;
}

.row {
	clear: both;
	margin: 0;
	padding: 0;
}

.bar {
	width: 20%;
	margin: 10px;
	padding: 0;
    float: left;
}

.bar ul {
	list-style-image: url('images/plot-icon-10.png');
}

.bar ul li a:link {
	font-weight: bold;
	font-family: "Lucida Console",Monaco,monospace;
	font-size: 1.25em;
	color: #B56B93;
}

.bar ul li a:hover {
	text-decoration: none;
	letter-spacing: 1.35;
}

.bar ul li a.important {
	font-size: 1.5em;
	color: #F00;
}

.hidden {
	display: none;
}