* {
font-family: "Comic Sans MS",Palatino,ariel;
}

body {
	font-family: Georgia,Palatino,serif;
	background-color: #FFDDDD;
	margin-left: 3%;
}

h1.title { 
	font-size: 3em;
	color: purple;
}

a {
	color: black;
}

a:link { color: purple; }
a:hover { text-decoration: none; }

input[type=text], textarea, input[type=password] { 
	border: 2px solid purple;
	background-color: #FFEEEE;
}

input[type=text]:focus, textarea:focus, input[type=password]:focus {
	border: 2px solid pink;
}

input[type=button],input[type=file],input[type=submit] {
	border: 2px solid purple;
	background: #FFEEEE;
}

input[type=button]:hover, input[type=file]:hover, input[type=submit]:hover {
	background: #FFAAAA;
}

fieldset  {
	width: 300px;
}